.container{
    padding:8px 16px;
    border:2px solid black;
    border-radius:12px;
    margin: 50px;
    width: 150px;
    
}

.box{
    padding:8px 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    border:2px solid black;
    margin-left: 5px;
    
}

/* #box2{
  padding:8px 16px;
  border:2px solid black;
}

#box3{
  padding:8px 16px;
  border:2px solid black;
}

#box4{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:8px 16px;
  border:2px solid black;
}

#box5{
  padding:8px 16px;
  border:2px solid black;
}

#box6{
  padding:8px 16px;
  border:2px solid black;
}

#box7{
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding:8px 16px;
  border:2px solid black;
}

#box8{
  padding:8px 16px;
  border:2px solid black;
}

#box9{
  padding:8px 16px;
  border:2px solid black;
} */

